@font-face {
  font-family: agrandir;
  src: url("./assets/fonts/Agrandir-GrandHeavy.otf");
}

@font-face {
  font-family: agrandirLight;
  src: url("./assets/fonts/Agrandir-GrandLight.otf");
}

@font-face {
  font-family: archia;
  src: url("./assets/fonts/archia-regular-webfont.ttf");
}

:root {
  --purple-color: #bc7ab3;
  --yellow-color: #f9c553;
  --pink-color: #d87c7e;
  --green-color: #4dbfa8;
  --light-color: #f1f2f2;
  --dark-color: #514e5b;
}

* {
  cursor: url(./assets/img/cursor/circle.png) 2 2, auto;
}

.main {
  width: 100vw;
  background: var(--light-color);
  font-family: agrandir;
  min-height: 100vh;
  scroll-behavior: smooth !important;
}

body::-webkit-scrollbar {
  display: none;
}

.container-landing {
  width: 100vw;
  height: 100vh;
  background: url(./assets/img/landingVideo.gif) no-repeat center center fixed;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  scroll-behavior: smooth !important;
}

.container-arrow {
  align-self: flex-end;
}

.container-arrow:hover .arrow {
  animation-play-state: paused;
  border-color: var(--light-color);
  /* transform: scaleX(3.5); */
  /* border-width: 0 4px 4px 0; */
}

.arrow {
  border: solid var(--dark-color);
  height: 30px;
  width: 30px;
  border-width: 0 3px 3px 0;
  border-radius: 3px;
  display: inline-block;
  padding: 3px;
  margin-bottom: 3rem;
  transition: all 0.5s ease-in-out;

  /*animation*/
  -webkit-animation: slide-in-blurred-top 5s cubic-bezier(0.23, 1, 0.32, 1)
    infinite both;
  animation: slide-in-blurred-top 2s cubic-bezier(0.23, 1, 0.32, 1) infinite
    both;
}

@keyframes slide-in-blurred-top {
  0% {
    -webkit-transform: translateY(-100px) scaleY(2.5) scaleX(0.2) rotate(45deg);
    transform: translateY(-100px) scaleY(2.5) scaleX(0.2) rotate(45deg);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }
  33% {
    -webkit-transform: translateY(0) scaleY(1) scaleX(1) rotate(45deg);
    transform: translateY(0) scaleY(1) scaleX(1) rotate(45deg);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
  66% {
    -webkit-transform: translateY(0) scaleY(1) scaleX(1) rotate(45deg);
    transform: translateY(0) scaleY(1) scaleX(1) rotate(45deg);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(100px) scaleY(2) scaleX(0.2) rotate(45deg);
    transform: translateY(100px) scaleY(2.5) scaleX(0.2) rotate(45deg);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }
}

.container-static {
  height: 100vh;
}

.logo-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 10vh;
}

.logo-top img {
  height: 45%;
  width: auto;
}

.container-content {
  display: grid;
  grid-template-columns: 98% 2%;
  height: 90vh;
  overflow: hidden;
}

.right-navigation {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dot {
  background-color: var(--light-color);
  border: 2px solid var(--purple-color);
  border-radius: 50px;
  height: 10px;
  width: 10px;
  margin: 3px;
  padding: 0;
}

.dot:hover {
  background: var(--dark-color);
  cursor: pointer;
}

.dot:active {
  background: var(--purple-color);
  /* -webkit-animation: bounce-top 0.9s both;
  animation: bounce-top 0.9s both; */
}

.color-changers {
  display: flex;
  justify-content: space-around;
  width: 14%;
}

.purple {
  border: 2px solid var(--purple-color);
}
.pink {
  border: 2px solid var(--pink-color);
}
.yellow {
  border: 2px solid var(--yellow-color);
}
.green {
  border: 2px solid var(--green-color);
}
.grey {
  border: 2px solid var(--dark-color);
}

.purple:hover {
  background: var(--purple-color);
}
.pink:hover {
  background: var(--pink-color);
}
.yellow:hover {
  background: var(--yellow-color);
}
.green:hover {
  background: var(--green-color);
}
.grey:hover {
  background: var(--dark-color);
}

@keyframes bounce-top {
  0% {
    -webkit-transform: translateY(-45px);
    transform: translateY(-45px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    -webkit-transform: translateY(-24px);
    transform: translateY(-24px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  65% {
    -webkit-transform: translateY(-12px);
    transform: translateY(-12px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  82% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  93% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  25%,
  55%,
  75%,
  87% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
}

.dot-selected {
  background-color: var(--purple-color);
  border-radius: 50px;
  height: 10px;
  width: 10px;
  margin: 3px;
  padding: 0;
}

.container-components {
  overflow-y: scroll;
  scroll-behavior: smooth !important;
}

.container-components::-webkit-scrollbar {
  display: none;
}

.container {
  height: 90vh;
  display: flex;
  flex-direction: row;
  /* background: var(--dark-color); */
  align-items: center;
}

.container-title {
  height: 100%;
  width: 3rem;
  align-items: center;
  display: flex;
  justify-content: center;
}

.title {
  transform: rotate(-90deg);
  -webkit-text-stroke: 1px var(--dark-color);
  color: rgba(0, 0, 0, 0);
  text-transform: uppercase;
}

.title:hover {
  animation: heartbeat 1.5s ease-in-out infinite both;
}

@keyframes heartbeat {
  from {
    -webkit-transform: scale(1) rotate(-90deg);
    transform: scale(1) rotate(-90deg);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91) rotate(-90deg);
    transform: scale(0.91) rotate(-90deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98) rotate(-90deg);
    transform: scale(0.98) rotate(-90deg);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87) rotate(-90deg);
    transform: scale(0.87) rotate(-90deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1) rotate(-90deg);
    transform: scale(1) rotate(-90deg);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}

.about-content {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100%;
  width: 100%;
  margin: 2rem 0;
  perspective: 1000px;
  perspective-origin: center top;
  transform-style: preserve-3d;
}

.block-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  height: 5rem;
  position: absolute;
  text-transform: uppercase;
}

.block-text p {
  padding: 0;
  margin: 0;
  color: var(--dark-color);
  opacity: 0.8;
  transition: all 0.5s ease-in-out;
}

.block-text p:hover {
  /* transform: translateX(2); */
  animation: vibrate-1 0.3s linear infinite both;
}

@keyframes vibrate-1 {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px);
  }
  80% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}

.about-img img {
  width: 80%;
  height: auto;
  margin: 5rem 2rem;
}

.about-text {
  font-family: archia;
  margin-top: 4.5rem;
}

.container-boxes {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 2rem 5rem 0 0;
}

.moving-box {
  border: 4px solid var(--dark-color);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 13rem;
  padding: 10px;
  border-radius: 2px;
  margin: 10px;
  animation-name: box;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  font-family: agrandir;
  color: var(--dark-color);
  font-size: 1rem;
  text-decoration: none;
  /* text-transform: uppercase; */
  transition: all 0.2s ease-in-out;
}

/* .moving-box:hover {
  background: var(--purple-color);
  color: var(--light-color);
  cursor: pointer;
  border: 4px solid var(--purple-color);
}

@keyframes box {
  from {
    transform: translate(0, 0px);
  }
  65% {
    transform: translate(0, 15px);
  }
  to {
    transform: translate(0, -0px);
  }
} */

.item {
  text-decoration: none;
  color: var(--dark-color);
  text-transform: uppercase;
  margin: 1rem 0;
  font-size: 1.2rem;
}

.underline--magical {
  background-image: linear-gradient(
    120deg,
    var(--purple-color) 0%,
    var(--purple-color) 100%
  );
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: 0 88%;
  transition: background-size 0.25s ease-in;
}
.underline--magical:hover {
  background-size: 100% 88%;
  cursor: pointer;
}

/* WEB PROJECTS ---------------------------------------------------------------------------------------------------------------------------*/

.container-projects {
  height: 100vh;
  width: 100%;
  background: var(--purple-color);
}

.projects-img {
  height: 90%;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  margin: 0;
  padding: 0;
  overflow-y: hidden;
  overflow-x: scroll;
}

.container-project {
  display: inline-block;
  position: relative;
}

.projects-img a img {
  height: 400px;
  margin: 0 150px;
  width: auto;
  transition: all 1s ease-in-out;
}

.projects-img a:hover img {
  cursor: pointer;
  transform: scale(1.2);
}

.project-description {
  /* border: 2px solid var(--purple-color); */
  position: absolute;
  background: var(--purple-color);
  color: var(--light-color);
  padding: 1rem;
  font-size: 1rem;
  transition: all 0.5s ease-in-out;
}

.project-description:hover {
  background-color: var(--dark-color);
  cursor: pointer;
}

.project-description p {
  font-size: 0.8rem;
  font-family: archia;
  padding: 0 !important;
  margin: 0;
}

.monstera {
  width: 15rem;
  height: 5rem;
  top: 15rem;
  left: 35rem;
}

.beeogarden {
  width: 10rem;
  height: 6rem;
  top: 15rem;
  left: 17rem;
}

.bits {
  width: 10rem;
  height: 6rem;
  top: 5rem;
  left: 40rem;
}

.mpc {
  width: 8rem;
  height: 5rem;
  top: 10rem;
  left: 18rem;
}

.helder {
  width: 10rem;
  height: 5rem;
  top: 10rem;
  left: 40rem;
}

.projects-img::-webkit-scrollbar-track {
  border: 1px solid var(--dark-color);
  background-color: var(--light-color);
}

.projects-img::-webkit-scrollbar {
  width: 10px;
  background-color: var(--light-color);
}

.projects-img::-webkit-scrollbar-thumb {
  background-color: var(--dark-color);
  transition: all 0.5s ease-in-out;
}

.projects-img::-webkit-scrollbar-thumb:hover {
  background-color: var(--dark-color);
}

/* ANIMATION PROJECTS------------------------------------------------------------------------------------------------------------- */

.container-animations {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 50% 50%;
  grid-gap: 0.5rem;
  margin: 0 2rem 0 0;
  height: 85vh;
}

.animation-block {
  width: 100%;
  height: 100%;
  position: relative;
}

.animation-block img {
  width: 100%;
  height: 100%;
}

.static {
  position: absolute;
  top: 0;
  left: 0;
}

.static:hover {
  opacity: 0;
}

/* PHOTOGRAPHY----------------------------------------------------------------------------------------- */
.container-100 {
  height: 90vh;
}

.container-photography {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.container-photography img {
  height: 80vh;
  width: auto;
  margin: 0 5rem;
}

/* CONTACTS ------------------------------------------------------------------------------------- */

.container-contacts {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  overflow: hidden;
  position: relative;
}

.container-contacts img {
  height: 100%;
  width: auto;
  transition: all 1s ease-in-out;
  align-self: center;
  animation: rotate-center 40s linear infinite both;
  /* filter: brightness(0.4) hue-rotate(90deg) saturate(30%); */
}

@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.form-container {
  position: absolute;
  width: 500px;
  height: 500px;
  top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.form-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  width: 80%;
}

.form-element {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  width: 90%;
  position: relative;
}

.form-element input {
  margin-top: 0.2rem;
  background: var(--light-color);
  border: none;
  border-bottom: 5px solid var(--dark-color);
  padding: 0.7rem 0.3rem;
  transition: all 0.2s ease-in-out;
  font-family: archia;
}

.form-element input:focus {
  outline: none;
  border-bottom: 5px solid var(--purple-color);
}

.form-element label {
  color: var(--dark-color);
}

.form-container button {
  background: var(--light-color);
  color: var(--dark-color);
  padding: 0.8rem 5rem;
  border: 3px solid var(--dark-color);
  border-radius: 2px;
  /* font-size:1.5rem; */
  font-family: agrandir;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
}

.form-container button:hover {
  background: var(--purple-color);
  color: var(--light-color);
  border: 3px solid var(--purple-color);
  cursor: pointer;
}

.input ~ .border {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 0px;
}

.input:focus ~ .border {
  width: 100%;
  transition: 0.5s;
}

.border {
  border: 0px solid var(--purple-color) !important;
}

.talk {
  top: 0;
  left: 5rem;
  font-size: 1.5rem;
}

.contact-links {
  align-self: flex-end;
  margin-right: -10rem;
}
